$colour-purple-light: #d9415d;
$colour-purple-medium: #8c1839;
$colour-purple-dark: #000012;

$colour-grey-light: rgba(255, 255, 255, 0.87);
$colour-grey-medium: rgb(177, 176, 176);
$colour-grey-dark: #000012;

$white-font: rgba(255, 255, 255, 0.87)