@font-face {
    font-family: "Rubik-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/Rubik.ttf") format("truetype");
  }

@font-face {
  font-family: "Rubik-Bold";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/Rubik.ttf") format("truetype");
}
  
  
@font-face {
  font-family: "Rubik-Italic";
  font-style: normal;
  font-weight: 200;
  src: url("./assets/fonts/Rubik-Italic.ttf") format("truetype");
}