@import '../styles/shared/keyframes';
@import '../styles/shared/base';
@import '../styles/shared/colours';

.section__container__outer {
    min-width: 100vw;
    height: 100%;
}

.section__container__inner {
    margin: 0 auto;
    height: calc(100% - 1rem);
    opacity: 0;
    animation: fade-in forwards 2s linear;
    max-width: 40rem;
    overflow: hidden;
    border-bottom: $colour-purple-medium solid 4px;
}


.section__content__container {
    height: calc(100% - 2rem);
    width: calc(100% - 2rem);
    margin: 1rem;
    
    overflow: auto;
    scrollbar-color: $colour-purple-medium $colour-purple-light;
    scrollbar-width: thin;
    scroll-padding: 2rem;
}

.section__content__container::-webkit-scrollbar {
    width: 0.6rem;
    background: transparent;
    border-radius: 2rem;
    margin-bottom: 0.5rem;
  }
.section__content__container::-webkit-scrollbar-track {
    background-color: $colour-purple-light;
    color: transparent;
    margin: 2rem;
    border-radius: 2rem;
}
.section__content__container::-webkit-scrollbar-thumb {
    background: $colour-purple-medium;
    border-radius: 2rem;
}




.section__header__container {
    width: 100%;
    text-align: center;
}



.section__desc__container {
    margin: 0 auto;
    p {
        margin: 1rem 0;
        padding: 0;
    }
}


.section__image__container {
    margin-top: 0.5rem;
    margin-right: 0.5vw;
    .img {
        width: 100%;
        display: block;
        padding: 3rem 0rem;
        background-color: $colour-purple-medium;
    }
}


.section__flex__container {
    margin: calc(1rem + 2vh) 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section__flex__item {
    width: 47%;
}


.section__tech__container {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.75rem;
    align-items: center;
}

.section__button__container {
    margin-top: 0vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.75rem;
}

h2 {
    font-size: 1rem;
    width: 5rem;
}


@media(max-width: 56rem){
    .section__flex__container {
        margin: calc(1rem + 2vh) 0rem 2vh 0rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .section__flex__item {
        width: 100%;
    }

    .section__image__container {
        width: 80%;
        margin: calc(2rem + 2vh) auto 2vh auto;
    }

    .section__tech__container, .section__button__container {
        justify-content: center;
        margin: 2vh;
    } 
}


